[submodule "swift"]
	path = swift
	url = https://github.com/dotnet/signalr-client-swift
	branch = dev

[submodule "dotnet"]
	path = dotnet
	url = https://github.com/Azure/azure-signalr.git
	branch = dev
