[submodule "swift"]
	path = swift
	url = https://github.com/dotnet/signalr-client-swift
	branch = dev
	
[submodule "cpp/signalr-client-cpp"]
	path = cpp/signalr-client-cpp
	url = https://github.com/aspnet/SignalR-Client-Cpp
	branch = main